<template name="input">

	<!-- INPUT SIZES -->
	<h3 class="preview-title">Input Sizes</h3>
	
	<!-- Tiny -->
	<span class="preview-label">
		<p class="preview-label-title">Tiny</p>
		<input class="tiny" type="text" placeholder="I'm an input...'"/>
	</span>
	
	<!-- Small -->
	<span class="preview-label">
		<p class="preview-label-title">Small</p>
		<input class="small" type="text" placeholder="I'm an input...'"/>
	</span>
	
	<!-- Default -->
	<span class="preview-label">
		<p class="preview-label-title">Default</p>
		<input class="" type="text" placeholder="I'm an input...'"/>
	</span>
	
	<!-- Large -->
	<span class="preview-label">
		<p class="preview-label-title">Large</p>
		<input class="large" type="text" placeholder="I'm an input...'"/>
	</span>
	
	<!-- Huge -->
	<span class="preview-label">
		<p class="preview-label-title">Huge</p>
		<input class="huge" type="text" placeholder="I'm an input...'"/>
	</span>

	
	<hr/>


	<!-- INPUT GROUPS -->
	<h3 class="preview-title">Input Group</h3>

	<!-- Icons -->
	<span class="preview-label stacked">
		<p class="preview-label-title">Icons</p>
		<div class="left icon input-group">
			<span>
				<i class="fa fa-camera fa-fw"></i>						
			</span>
			<input class="" type="text" placeholder="I'm an input...'"/>
		</div>
	</span>

	<!-- Ghost Inputs -->
	<span class="preview-label stacked">
		<p class="preview-label-title">Ghost Inputs</p>
		<div class="left icon inline ghost input-group">
			<span>
				<i class="fa fa-camera fa-fw"></i>						
			</span>
			<input class="" type="text" placeholder="I'm an input...'"/>
		</div>
	</span>

	<!-- Solid Colors -->
	<span class="preview-label stacked">
		<p class="preview-label-title">Solid Colors</p>
		<div class="left icon blue input-group">
			<span>
				<i class="fa fa-camera fa-fw"></i>						
			</span>
			<input class="" type="text" placeholder="I'm an input...'"/>
		</div>
	</span>

	<!-- Sliver Highlights -->
	<span class="preview-label stacked">
		<p class="preview-label-title">Sliver Highlights</p>
		<div class="left icon light-gray red-sliver input-group">
			<span>
				<i class="fa fa-camera fa-fw"></i>						
			</span>
			<input class="" type="text" placeholder="I'm an input...'"/>
		</div>
	</span>

	<!-- Inline Styles -->
	<span class="preview-label stacked">
		<p class="preview-label-title">Inline Styles</p>
		<div class="left icon inline gray input-group">
			<span>
				<i class="fa fa-camera fa-fw"></i>						
			</span>
			<input class="" type="text" placeholder="I'm an input...'"/>
		</div>
	</span>

</template>
