header
  .logo
    margin 4px 0 0 3px
    border-radius 75%
    filter drop-shadow(0 2px 4px #111)
    cursor pointer

    &:hover
      height 40px
      width 42px
      margin 2px 0 0 1px
      border 2px solid gold
      filter drop-shadow(0 0 5px yellow)

    &:active
      height 38px
      width 40px
      margin 3px 0 0 2px
      border 2px solid gold
      filter drop-shadow(0 0 5px yellow)
