// .subs-filter
//   display none
//   position absolute
//   margin-top 40px
//   margin-left 135px
//   opacity 0
//   transition all .15s linear

//   &.slideLeft
//     margin-left 0px
//     opacity 1
  
//   .header
//     margin-top 3px
//     margin-bottom 15px
    
//   > li
//     margin-bottom 15px

//     > p
//       font-size .8em
//       font-weight 500
//       color #999

//     form
//       display flex
//       flex-wrap wrap
//       align-items baseline

// div
//   &.input
//     display none