nav
  .top
    position absolute
    top 5

  .bottom
    position absolute
    bottom 0

  .icon
    display flex
    align-items center
    justify-content center
    height 38px
    width 50px
    text-shadow 2px 2px 3px #555

    &:hover
      background-color #666
      box-shadow -1px 0 0 #666
    
    i
      color white