@import 'themes/default/colors.import.styl'

// ---- FILTERS ---- //
ul
  &.filters
    margin-top 30px

    li
      .title
        font-size .8em
        font-weight 500
        color text

    &.vertical
      li
        margin-bottom 10px