// Header
header
  z-index 400
  height 30px
  width 100%
  position fixed
  top 0
  left 0
  

// Body
main
  z-index 1
  display flex
  justify-content center
  position absolute
  top 50px
  padding-bottom 40px
  margin 0 15px
  width calc(100% - 80px)

  #left-rail
    z-index 25
    width 125px
    min-width 125px
    max-width 125px
    position absolute
    margin-left -125px
  
  #center-column
    z-index 75
    width 500px
    min-width 500px
    max-width 500px
    position relative
    margin 0 10px
  
  #right-rail
    width 300px
    min-width 300px
    max-width 300px
    position relative
    margin-left 10px


  // Sidebar
  #sidebar
    z-index 200
    position fixed
    top 30px
    right 50px
    bottom 0px

nav
  z-index 100
  width 350px
  display flex
  flex-direction column
  align-items center
  position fixed
  top 30px
  right 0
  bottom 0
  padding 5px 0
      

// Footer
footer
  z-index 300
  height 30px
  width calc(100% - 70px)
  display flex
  align-items center
  position fixed
  bottom 0
  left 0
  right 0
  padding 0 8px
  background-color #d5d5d5
  box-shadow 0px -2px 2px #aaa


// 768px