<template name="SubscriptionsSocial">
  <ul class="right horizontal">
		<li>
			<button class="large toggle bordered light-gray circles facebook" data-action="toggle-button">
				<i class="fa fa-facebook fa-fw"></i>
				<!-- <p class="top">Shared through Facebook</p> -->
			</button>
		</li>
		<li>
			<button class="large toggle bordered light-gray circles twitter" data-action="toggle-button">
				<i class="fa fa-twitter fa-fw"></i>
				<!-- <p class="top">Shared through Twitter</p> -->
			</button>
		</li>
		<li>
			<button class="large toggle bordered light-gray circles" data-action="toggle-button">
				<i class="fa fa-lock fa-fw"></i>
				<!-- <p class="top">Privacy Settings</p> -->
			</button>
		</li>
	</ul>
</template>
