.at-title
  display none
  color #666

.at-sep
  display none

.at-input.has-feedback
  display flex
  flex-direction column
  margin 10px 0

  label
    margin-bottom 3px
    font-size 1.1em
    color #666

.at-btn.submit
  height 38px
  width 100%
  display flex
  align-items center
  justify-content center
  padding 0 4px
  background-color #ccc
  border 1px solid #ccc
  border-radius 3px
  font-size 1.5em
  font-weight 400
  color #444
  white-space nowrap
  cursor pointer
  transition .1s ease-in-out
  
  &:hover, &.active
    border-top 1px solid blue
    box-shadow 0 -1px 0 blue
    