<template name="profSb">
	<a class="profile icon button active">
		<i class="fa fa-2x fa-user fa-fw"></i>
	</a>
</template>


<template name="profPanel">
	<div class="profile panel active">
		<div class="header">
			<ul class="full center horizontal">
				<li>
					<a class="feed icon tab">
						<i class="fa fa-picture-o"></i>
						<p class="title">Bio</p>
					</a>
				</li>
				<li>
					<a class="connections icon tab">
						<i class="fa fa-users"></i>
						<p class="title">Connections</p>
					</a>
				</li>
				<li>
					<a class="settings icon tab active">
						<i class="fa fa-cog"></i>
						<p class="title">Settings</p>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="content">
			{{> profSettings}}
      
      {{#if currentUser}}
        {{> accountsCheck}}
      {{/if}}
		</div>
	</div>	
</template>


<template name="profSettings">
  {{> accountsApp}}
</template>


<template name="subsPanel">
	<div class="subscriptions panel active">
		<div class="header">
			<ul class="full center horizontal">
				<li>
					<a class="feed icon tab">
						<i class="fa fa-search"></i>
						<p class="title">Feed</p>
					</a>
				</li>
				<li>
					<a class="trends icon tab">
						<i class="fa fa-search"></i>
						<p class="title">Trending</p>
					</a>
				</li>
				<li>
					<a class="settings icon tab">
						<i class="fa fa-cog"></i>
						<p class="title">Settings</p>
					</a>
				</li>
			</ul>		
		</div>
	</div>	
</template>

