@import 'themes/default/colors.import.styl'

// ---- BUTTONS ---- //
button
  display flex
  align-items baseline
  justify-content center
  height 30px
  padding 2px 7px
  overflow visible
  outline none
  border none
  border-radius 3px
  background none
  font inherit
  font-size 1em
  font-weight 400
  color inherit
  -webkit-font-smoothing inherit
  letter-spacing inherit
  cursor pointer
  transition .15s ease-in-out

  i, p
    margin 0 2px


  // ---- BUTTON STYLES ---- //
  // Raised Buttons
  &.raised
    box-shadow z1

    &:hover
      box-shadow z2
      
  // Icon Buttons
  &.circles
    height 30px
    width 30px
    min-width 30px
    border-radius 100%

    i
      font-size 1em

  // Bordered Buttons
  &.bordered
    border 1px solid light-gray

  // Disabled Buttons
  &.disabled
    background-color disabled-bg-dark !important
    box-shadow none !important
    color disabled-text
    cursor default !important

  // Full Buttons
  &.full
    width 100%


  // ---- BUTTON SIZES ---- //
  // Tiny Buttons
  &.tiny
    height 20.5px
    padding 0 3px
    font-size .8em

    &.circles
      height 20.5px
      width 20.5px
      min-width 20.5px
      padding 0px

      i
        font-size .8em

  // Small Buttons  
  &.small
    height 27px
    padding 0 5.5px
    font-size .9em
    
    &.circles
      height 27px
      width 27px
      min-width 27px
      padding 0px

      i
        font-size .9em

  // Large Buttons
  &.large
    height 37.25px
    padding 0 10px
    font-size 1.1em

    &.circles
      height 37.25px
      width 37.25px
      min-width 37.25px
      padding 0px

      i
        font-size 1.1em
        
  // Huge Buttons
  &.huge
    height 44px
    padding 0 13px
    font-size 1.2em

    &.circles
      height 44px
      width 44px
      min-width 44px
      padding 0px

      i
        margin-top 2px
        font-size 1.2em


  // ---- BUTTON COLORS ---- //
  // Ghost Buttons
  &.ghost
    background-color transparent
    color dark-text

    &:hover, &.active
      background-color gray
      color darker-text
      
      &.lightest-bg
        background-color lightest-gray
        color dark-text
        
      &.lighter-bg
        background-color lighter-gray
        color dark-text
        
      &.light-bg
        background-color light-gray
      
      &.dark-bg
        background-color dark-gray
        
  // Light Gray Buttons
  &.light-gray
    background-color lightest-gray
    color dark-text

    &:hover, &.active
      background-color light-gray

  // Gray Buttons  
  &.gray
    background-color light-gray
    border 1px solid gray
    color darker-text

    &:hover, &.active
      background-color gray
      
  // Red Buttons
  &.red
    background-color red
    color lightest-text

    &:hover, &.active
      background-color dark-red

  // Yellow Buttons
  &.yellow
    background-color yellow
    color darker-text

    &:hover, &.active
      background-color dark-yellow
      
  // Green Buttons
  &.green
    background-color green
    color lightest-text

    &:hover, &.active
      background-color dark-green
      
  // Blue Buttons
  &.blue
    background-color blue
    color lightest-text

    &:hover, &.active
      background-color dark-blue


  // ---- FONTS ---- //
  &.thin
    font-weight 300

  &.thick
    font-weight 500















// Buttons
.button
  height 25px
  width auto
  display flex
  align-items center
  padding 0 4px
  background-color #e7e7e7
  border 1px solid #d5d5d5
  border-radius 3px
  white-space nowrap
  cursor pointer
  transition .1s ease-in-out
  
  i
    margin-right 5px
    font-size 1.2em
    color #999
    transition .1s ease-in-out
    
  p
    font-weight 400
    color #777
    transition .1s ease-in-out

  &:hover
    i
      color #777
      
  &.icon
    height 38px
    width 100%
    justify-content center
    background-color transparent
    border none
    border-radius 0
    font-size 1.5em

    &:hover, &.active
      background-color #666
      box-shadow -1px 0 0 #666
  
    i
      color white
      text-shadow 2px 2px 3px #555
    

.circle
  display flex
  align-items center
  justify-content center
  height 25px
  width 25px
  padding 3px
  margin 0
  background-color #e7e7e7
  border 1px solid #d5d5d5
  border-radius 100%
  cursor pointer
  transition .15s ease-in-out

  i
    margin 0
    font-size 1.2em
    color #999
    transition .15s ease-in-out

  p
    opacity 0
    visibility collapse
    width auto
    position absolute
    padding 3px 5px
    background-color rgba(0, 0, 0, .7)
    border-radius 5px
    font-size .9em     
    color #fff
    white-space nowrap
    transition opacity .2s ease-in-out
    transition-delay .7s

    &.right
      margin-left 10px
    
    &.top
      margin-top -30px
          
  &:hover
    i
      color #777

    p
      opacity 1
      visibility visible

  &.focused
    background-color #fff
    border-color #aaa
    outline none

  &.invisible
    background-color transparent
    border 1px solid transparent

  &.dark
    background-color #d3d3d3
    border 1px solid #ccc

    i
      color #888


// Tags
.tag
  height 25px
  display flex
  align-items center
  // padding 3px 0
  margin-right 5px
  background-color none
  border 1px dashed transparent
  border-radius 3px
  white-space nowrap
  cursor pointer
  transition .1s ease-in-out
  
  i
    width 25px
    margin-right 5px
    font-size 1.2em
    color #999
    transition .1s ease-in-out

    &.icon
      &.dark
        height 25px
        display flex
        align-items center
        justify-content center
        border-radius 3px
        color white
        text-shadow 1px 1px 1px #555
    
  p
    font-weight 400
    color #777
    user-select none

  &:hover
  &:focus
    background-color #eee
    border 1px solid #d5d5d5
    
    i
      color #777


//Social
.at-oauth
  display flex
  flex-direction column
  align-items stretch
  
  .at-social-btn
    height 40px
    margin 3px 0
    border-radius 2px
    font-size 1.1em