@import 'themes/default/colors.import.styl'

// ---- ICON BUTTONS ---- //
button
  &.tags
    &.ghost
      &.active
        background-color transparent

        span
          background-color white
          box-shadow 0px 0px 1px dark-text

        i
          &.fa-clock-o
            color blue

          &.fa-rocket
            color red

          &.fa-file-text-o
            color dark-text
            
          &.fa-picture-o
            color green
            
          &.fa-file-video-o
            color purple
            
          &.fa-film
            color blue

          &.fa-map-marker
            color red
            
          &.fa-search
            color green