@import 'themes/default/colors.import.styl'

// ---- SOCIAL MEDIA BUTTONS ---- //
button

    // ---- SOCIAL STYLES ---- //
  &.ghost
    &.facebook, &.google, &.reddit, &.twitter
      background-color transparent
      color dark-text
    
  &.light-gray
    &.facebook, &.google, &.reddit, &.twitter
      background-color lightest-gray
      color dark-text

  &.ghost, &.light-gray
    &.facebook, &.google, &.reddit, &.twitter

      i
        margin 1px 0 0 1px

      // Default Style
      &:hover, &.active
        color lightest-text
        text-shadow 1px 1px 1px darkest-text

      // Tag Style
      &.tags
        &:hover, &.active
          color darker-text
          text-shadow none

        &.active
          background-color transparent
          border 1px solid transparent
          
          i
            color lightest-text
            text-shadow 1px 1px 1px darkest-text


    // ---- SOCIAL COLORS ---- //
    // Facebook
    &.facebook
      &:hover, &.active
        background-color facebook

        &.tags
          &.active
            span
              background-color facebook

    // Google
    &.google
      &:hover, &.active
        background-color google
          
        &.tags
          &.active
            span
              background-color google
            
    // Reddit
    &.reddit
      &:hover, &.active
        background-color reddit

        &.tags
          &.active
            span
              background-color reddit
            
    // Twitter
    &.twitter
      &:hover, &.active
        background-color twitter

        &.tags
          &.active
            span
              background-color twitter


  // ---- SOCIAL COLORS ---- //
  // Facebook
  &.facebook
    background-color facebook
    color white
    
    &:hover, &.active
      background-color dark-facebook

  // Google
  &.google
    background-color google
    color white
    
    &:hover, &.active
      background-color dark-google
                      
  // Reddit
  &.reddit
    background-color reddit
    color white
    
    &:hover, &.active
      background-color dark-reddit
            
  // Twitter
  &.twitter
    background-color twitter
    color white
    
    &:hover, &.active
      background-color dark-twitter
