@import 'themes/default/colors.import.styl'

// ---- TAGS ---- //
button.tags
  padding 0 4px

  i, p
    margin 0 4px
    whitespace nowrap
    
  i
    font-size 1.2em

  span
    display flex
    justify-content center
    width 18px
    // margin-right 4px
    margin-left -4px
    padding 5.5px
    border-radius 3px


// ---- TAG STYLES ---- //
.tag-toggle
  display flex
  height 30px
  
  .bottom
    display none
    margin-bottom 5px
    opacity 0

button.tags  
  &.bordered
    border 1px solid light-gray


  // ---- TAG POSITIONING ---- //
  &.full
    width 100%

  &.left
    justify-content flex-start

  &.center
    justify-content center

  &.right
    justify-content flex-end


  // // ---- TAG SIZES ---- //
  // // Tiny Tags
  // &.tiny
  //   height 20.5px

  //   span
  //     height 20.5px
  //     width 20.5px

  // // Small Tags  
  // &.small
  //   height 27px

  //   span
  //     height 27px
  //     width 27px
      
  // // Large Tags
  // &.large
  //   height 37.25px

  //   span
  //     height 37.25px
  //     width 37.25px
      
  // // Huge Tags
  // &.huge
  //   44px

  //   span
  //     height 44px
  //     width 44px


  // ---- TAG COLORS ---- //
  // Ghost Tags
  &.ghost
    border 1px solid transparent
    background-color transparent
    color semi-dark-text

    &:hover
      background-color gray
      border 1px solid darker-gray
      color darker-text

      &.lightest-bg
        background-color lightest-gray
        border 1px solid light-gray
          
      &.lighter-bg
        background-color lighter-gray
        border 1px solid gray
          
      &.light-bg
        background-color light-gray
        border 1px solid dark-gray
          
      &.dark-bg
        background-color dark gray
        border 1px solid darkest-gray