<template name="subsPost">
	<div class="card">

		<div class="header">
			<div class="bio">
				<img class="avatar" src=""/>
				<div class="details">
					<h3 class="name"></h3>
					<p class="timestamp"></p>					
				</div>
			</div>
			<ul class="social">
				<li class="icon">
					<img class="facebook" src=""/>
				</li>
				<li class="icon">
					<img class="twitter" src=""/>
				</li>
				<li class="icon">
					<img class="privacy" src=""/>
				</li>
			</ul>
		</div>

		<div class="content">
			<p class="text"></p>
			<img class="subs-img" src=""/>
			<video src=""></video>
		</div>

		<div class="footer">
			<input class="comment" name="" type="text" value="Share your thoughts..."/>
			<ul class="interaction">
				<li class="icon">
					<img class="comment" alt="" src=""/> Comment
				</li>
				<li class="icon">
					<img class="like" alt="" src=""/> Like
				</li>
				<li class="icon">
					<img class="share" alt="" src=""/> Share
				</li>
			</ul>
		</div>
		
	</div>
</template>
