<template name="subsPost">
	<article class="paper">
		<div class="card">

			<div class="header">
				<div class="bio">
					<img class="avatar" src="https://avatars3.githubusercontent.com/u/5017078?v=3&s=460"/>
					<div class="details">
						<h3 class="name">Mark Swedberg</h3>
						<p class="timestamp">23 min</p>
					</div>
				</div>
				<ul class="right horizontal">
					<li>
						<button class="large toggle bordered light-gray circles facebook">
							<i class="fa fa-facebook fa-fw"></i>
							<!-- <p class="top">Shared through Facebook</p> -->
						</button>
					</li>
					<li>
						<button class="large toggle bordered light-gray circles twitter">
							<i class="fa fa-twitter fa-fw"></i>
							<!-- <p class="top">Shared through Twitter</p> -->
						</button>
					</li>
					<li>
						<button class="large toggle bordered light-gray circles">
							<i class="fa fa-lock fa-fw"></i>
							<!-- <p class="top">Privacy Settings</p> -->
						</button>
					</li>
				</ul>
			</div>

			<div class="content">
				<p class="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet turpis euismod, bibendum erat at, convallis arcu. Aenean finibus tortor ac mauris maximus, sit amet lobortis magna suscipit. Vestibulum in lacus sapien. Etiam at purus vitae sapien mollis consequat non eget augue. Nunc laoreet hendrerit arcu. Sed euismod, arcu dapibus suscipit scelerisque, ante augue gravida odio, vel consequat mauris magna nec ex. In purus magna, congue in imperdiet nec, hendrerit et leo. Donec accumsan urna in urna rutrum consectetur. Vivamus non nisi a libero condimentum bibendum in a velit. Curabitur vel pellentesque elit, a fringilla massa. Curabitur posuere velit quis bibendum euismod.
				</p>
				<div class="images">
					<button class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></button>
					<a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
					<a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
					<a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
				</div>
				<!-- <div class="video">
						 <iframe src="https://www.youtube.com/embed/vEmDurgn1EQ" frameborder="0" allowfullscreen></iframe>
						 </div> -->
			</div>
			
			<div class="footer">
				<input class="input" name="comment" type="text" placeholder="Share your thoughts..."/>
				<ul class="horizontal right">
					<li>
						<i class="fa fa-commenting larger dark-gray blue-bg toggle"></i>
						<!-- <p class="top">View all comments</p> -->
					</li>
					<li>
						<i class="fa fa-thumbs-o-up larger dark-gray blue-bg toggle"></i>
						<!-- <p class="top">View all comments</p> -->
					</li>
					<li>
						<i class="fa fa-share-alt larger dark-gray blue-bg toggle"></i>
						<!-- <p class="top">Share this post</p> -->
					</li>
				</ul>
			</div>
			
		</div>
	</article>
</template>
