<template name="SubscriptionsContent">
	<p class="text">{{content}}</p>
	<!-- <div class="images">
			 <button class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></button>
			 <a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
			 <a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
			 <a class="image" href="http://www.unoosa.org/res/timeline/index_html/space-2.jpg" target="_blank"></a>
			 </div> -->
	<!-- <div class="video">
			 <iframe src="https://www.youtube.com/embed/vEmDurgn1EQ" frameborder="0" allowfullscreen></iframe>
			 </div> -->          
</template>
