@import 'themes/default/colors.import.styl'

// ---- HEADER STYLES ---- //
// Site Header
header
  .background
    height 30px
    background-color #1c1c1c
    border-bottom 1px solid #000
    box-shadow 0 2px 4px #111

  .logo
    margin 4px 0 0 3px
    border-radius 75%
    filter drop-shadow(0 2px 4px #111)
    cursor pointer

    &:hover
      height 40px
      width 42px
      margin 2px 0 0 1px
      border 2px solid gold
      filter drop-shadow(0 0 5px yellow)

    &:active
      height 38px
      width 40px
      margin 3px 0 0 2px
      border 2px solid gold
      filter drop-shadow(0 0 5px yellow)

  .user
    display flex
    position absolute
    top 0
    right 0
    height 30px

  .usermenu
    display none
    flex-direction column
    position absolute
    top 33px
    right 0px
    width 115px
    background-color white
    outline none
    border 1px solid light-gray
    border-bottom-left-radius 3px
    box-shadow z2

    hr
      align-self center
      width 85%
      margin 0px
      border 1px solid lightest-gray

    ul
      display flex
      flex-direction column

      li
        padding 4px 12px
        border 1px dotted transparent
        border-left none
        border-right none
        color #666
        cursor pointer

        &:hover
          background-color lightest-gray
          border-color light-gray
          color darker-text

        p
          margin-left -5px

      
// Section Header
section
  &.header
    display flex
    height 25px

    .main
      &.icon
        padding-top 4px
        margin-right 5px
        
        i
          font-size 1.7em
          color #999
          
    .title
      position absolute
      margin-top 5px
    
      h2
        font-size 1.4em
        font-weight 500
        color #999
  
    .controls
      display none
      margin 5px 0px
      opacity 0