@import 'themes/default/colors.import.styl'

// ---- PAPER ---- //
.paper
  display flex
  flex-direction column
  height auto
  width calc(100% - 18px)
  padding 8px
  position relative
  background-color #fff
  border-radius 3px
  box-shadow 0 1px 5px #ddd


  // ---- PAPER STYLES ---- //
  &.border
    border 1px solid #e5e5e5

    &.dark
      border-color #ddd

    &.darker
      border-color #d5d5d5

  &.tight
    padding-bottom 0px