// Buttons
.button
  display flex
  align-items center
  padding 5px 8px 4px
  margin-right 5px
  background-color #e7e7e7
  border 1px solid #d5d5d5
  border-radius 3px
  white-space nowrap
  cursor pointer
  transition .2s
  
  i
    margin-right 5px
    font-size 1.2em
    color #999

  p
    font-weight 400
    color #777

  &:hover
    background-color #ddd
  
    i
      color #777
      transition .2s


// Tags
.tag
  display flex
  align-items center
  padding 4px 5px 4px 3px
  margin-right 5px
  background-color none
  border 1px dashed transparent
  border-radius 3px
  white-space nowrap
  cursor pointer
  transition .1s
  
  i
    margin-right 5px
    font-size 1.2em
    color #999

  p
    font-weight 400
    color #777
    user-select none

  &:hover
  &:focus
    background-color #eee
    border 1px solid #d5d5d5
    
    i
      color #777
      transition .1s