.head
  display flex
  align-items center
  height 36px

  .icon
    padding-top 4px
    margin-right 5px
    
    i
      font-size 1.7em
      color #999
  
  .title
    visibility visible
    display flex
    align-items center
    height 100%
    
    h2
      font-size 1.2em
      font-weight 500
      color #888

  .controls
    visibility visible
    display flex
    align-items center
    height 100%