.header
  .controls
    .fa-rss
      color blue

//     .post
//       &:hover, &.active
//         border-top 1px solid blue
//         box-shadow 0 -1px 0 blue

//     .search
//       &:hover, &.active
//         border-top 1px solid green
//         box-shadow 0 -1px 0 green

//     .filters
//       &:hover, &.active
//         border-top 1px solid red
//         box-shadow 0 -1px 0 red

//     .settings
//       &:hover, &.active
//         border-top 1px solid #aaa 
//         box-shadow 0 -1px 0 #aaa
