.head
  .controls
    .fa-rss
      color blue

    a.pencil
      &:hover
        border-top 1px solid green
        box-shadow 0 -1px 0 green

    a.search
      &:hover
        border-top 1px solid blue
        box-shadow 0 -1px 0 blue
        
    a.sliders
      &:hover
        border-top 1px solid red
        box-shadow 0 -1px 0 red
        
    a.cog
      &:hover
        border-top 1px solid #aaa 
        box-shadow 0 -1px 0 #aaa 