<template name="subsControls">
	<div class="head">

		<!-- Section Icon -->
		<div class="icon">
			<i class="fa fa-rss"></i>
		</div>

		<!-- Default Display -->
		<div class="title">
			<h2>Subscriptions</h2>		
		</div>

		<!-- On Hover -->
		<div class="controls">
			<a class="button pencil" href="">
				<i class="fa fa-pencil"></i>
				<p>Post</p>
			</a>
			<a class="button search" href="">
				<i class="fa fa-search"></i>
				<p>Search</p>
			</a>
			<a class="button sliders" href="">
				<i class="fa fa-sliders fa-rotate-90"></i>
				<p>Filter</p>
			</a>
			<a class="button cog" href="">
				<i class="fa fa-cog"></i>
				<p>Settings</p>
			</a>
		</div>

	</div>
</template>
