<template name="subsFilters">
	<ul class="subs-filters">
		
		<!-- <div class="head">
				 <div class="icon">
				 <i class="fa fa-rss"></i>
				 </div>
				 <div class="title">
				 <h2>Subscriptions</h2>		
				 </div>			
				 </div> -->

		<li class="by-type">
			<p>TYPE</p>
			<div>
				<a class="tag">
					<i class="fa fa-clock-o fa-fw"></i>
					<p>Newest</p>					
				</a>
				<a class="tag">
					<i class="fa fa-rocket fa-fw"></i>
					<p>Popular</p>
				</a>
				<!-- <a class="tag">
						 <i class="fa fa-flag fa-fw"></i>
						 <p>Recommended</p>
						 </a> -->
			</div>
		</li>

		<li class="by-content">
			<p>CONTENT</p>
			<div>
				<a class="tag">
					<i class="fa fa-file-text-o fa-fw"></i>
					<p>Text</p>
				</a>
				<a class="tag">
					<i class="fa fa-picture-o fa-fw"></i>
					<p>Images</p>
				</a>
				<a class="tag">
					<i class="fa fa-file-video-o fa-fw"></i>
					<p>Gifs</p>
				</a>
				<a class="tag">
					<i class="fa fa-film fa-fw"></i>
					<p>Videos</p>
				</a>
			</div>
		</li>

		<li class="by-location">
			<p>LOCATION</p>
			<div>
				<a class="tag">
					<i class="fa fa-map-marker fa-fw"></i>
					<p>My Location</p>
				</a>
				<a class="tag">
					<i class="fa fa-search fa-fw"></i>
					<p>Search</p>
				</a>
				<div class="input">
					<i class="fa fa-search fa-fw"></i>
					<input class="input invisible" name="find-location" type="text" placeholder="Try a zip code...">
				</div>
			</div>
		</li>

		<li class="by-source">
			<p>SOURCE</p>
			<div>
				<a class="tag">
					<i class="fa fa-facebook fa-fw"></i>
					<p>Facebook</p>
				</a>
				<a class="tag">
					<i class="fa fa-twitter fa-fw"></i>
					<p>Twitter</p>
				</a>
				<a class="tag">
					<i class="fa fa-clock-o fa-fw"></i>
					<p>Mythros</p>
				</a>
				<a class="tag">
					<i class="fa fa-reddit fa-fw"></i>
					<p>Reddit</p>
				</a>
			</div>
		</li>
		
	</ul>
</template>
