.subs-filters
  .head
    margin-top 3px
    margin-bottom 15px
    
  > li
    margin-bottom 15px

    > p
      font-size .8em
      font-weight 500
      color #999

    form
      display flex
      flex-wrap wrap
      align-items baseline

// input[type="radio"] {
//   background-image: none;
//   background-color: red !important;
//   border: 2px solid purple !important;
// }
