<template name="subsEditor">
		<div class="card">

			<textarea class="editor" name="subs-editor" type="text" value="What's new today?"></textarea>

			<div class="sidebar">
				<ul class="vertical editor menu">
					<li class="icon">
						<img class="upload" alt="" src=""/>
					</li>
					<li class="icon">
						<img class="link" alt="" src=""/>
					</li>
					<li class="icon">
						<img class="tag" alt="" src=""/>
					</li>
				</ul>
			</div>
			
			<div class="footer">
				<ul class="vertical social menu">
					<li class="icon">
						<img class="facebook" src=""/>
					</li>
					<li class="icon">
						<img class="twitter" src=""/>
					</li>				
					<li class="icon">
						<img class="googleplus" src=""/>
					</li>
					<li class="icon">
						<img class="linkedin" src=""/>
					</li>
				</ul>
				<a class="post" href="">
					<img class="post" alt="" src=""/> Post
				</a>
			</div>

		</div>	
</template>
