<template name="SubscriptionsControls">

	<div class="main icon">
		<i class="fa fa-rss"></i>
	</div>

	<div class="title up">
		<h2>Subscriptions</h2>		
	</div>
	
	<div class="controls">
		<ul class="horizontal left">
      {{#if currentUser}}
			<li>
				<button class="post toggle light-gray bordered blue-sliver" data-action="toggle-button">
					<i class="fa fa-pencil"></i>
					<p>Post</p>
				</button>
			</li>
      {{/if}}
			<li>
				<button class="search toggle light-gray bordered green-sliver" data-action="toggle-button">
					<i class="fa fa-search"></i>
					<p>Search</p>
				</button>
			</li>
			<li>
				<button class="toggle light-gray bordered red-sliver filter" data-action="toggle-button">
					<i class="fa fa-sliders fa-rotate-90"></i>
					<p>Filter</p>
				</button>
			</li>
			<li>
				<button class="settings toggle light-gray bordered sliver" data-action="toggle-button">
					<i class="fa fa-cog"></i>
					<p>Settings</p>
				</button>
			</li>
		</ul>
	</div>
	
</template>
