// ---- COLOR PALETTE ---- //
// Default Colors
red = #EA1F26
light-red = #ed454b
dark-red = #d2141a

yellow = #ffd500
light-yellow = #ffe14d
dark-yellow = #F5CC00

green = #37B800
light-green = #67C10D
dark-green = #31A300

blue = #505CE2
light-blue = #616CE5
dark-blue = #3E4BCF

gray = #bbb
light-gray = #ccc
lighter-gray = #ddd
lightest-gray = #eee
dark-gray = #999
darker-gray = #777
darkest-gray = #555

// Contextual Colors
disabled-bg-light = #eaeaea
disabled-bg-dark = #d8d8d8

// Social Media Colors
facebook = #3b5989
lightest-facebook = #d8dfea
lighter-facebook = #afbdd4
light-facebook = #6d84b4
dark-facebook = #2E4476
google = #d34836
light-google = #D75847
dark-google = #B83928
reddit = #ff5700
light-reddit = #FF691F
dark-reddit = #E04B00
twitter = #00aced
lightest-twitter = #c0deed
light-twitter = #1dcaff
dark-twitter = #0096CC


// ---- TYPOGRAPHY ---- //
disabled-text = #a8a8a8
lightest-text = #fff
lighter-text = #eee
light-text = #aaa
text = #999
semi-dark-text = #888
dark-text = #777
darker-text = #555
darkest-text = #333

// Links
navbar-link-color = darkbg-text
navbar-link-hover-color = darkbg-text
navbar-link-hover-bg = transparent
navbar-link-active-color = darkbg-text
navbar-link-active-bg = rgba(0,0,0,0.05)
navbar-link-disabled-color = #E5E5E5
navbar-link-disabled-bg = transparent

// Placeholders
placeholder-color(color)
  &::-webkit-input-placeholder
     color color !important
  &:-moz-placeholder  /* Firefox 18- */
     color color !important
  &::-moz-placeholder  /* Firefox 19+ */
     color color !important
  &:-ms-input-placeholder  
     color color !important

     
// Font Icons
// icon-color = rgba(0,0,0,0.5)


// ---- INTERACTIVE ELEMENTS ---- //
// Checkbox
checkbox-default = #0f9d58
checkbox-primary = primary
checkbox-success = checkbox-default
checkbox-info =    info
checkbox-warning = warning
checkbox-danger =  danger

// Radio
radio-default = #0f9d58
radio-primary = primary
radio-success = radio-default
radio-info =    info
radio-warning = warning
radio-danger =  danger

// Input
input-danger = danger
input-default = #5264AE
input-warning = warning
input-success = success
input-info =    info
input-border = #757575
input-floating-label = #7E7E7E


// ---- LIST GROUPS ---- //
list-group-image-background = rgba(0,0,0,0.1)
list-group-icon-background = rgba(0,0,0,0.25)
list-group-action-secondary = rgba(0,0,0,0.25)
list-group-least-content = rgba(0,0,0,0.54)
list-group-item-heading = rgba(0, 0, 0, 0.77)
list-group-separator = rgba(0,0,0,0.1)


// ---- STRUCTURAL ---- //
// Dividers
dropdown-menu-divider = rgba(229, 229, 229, 0.12)

// Borders
navbar-border = darkbg-text


// ---- HEADERS ---- //
// Navbars
navbar-danger-bg = danger
navbar-inverse-bg = #5264AE
navbar-warning-bg = warning
navbar-success-bg = success
navbar-info-bg =    info
navbar-default-bg = primary
navbar-color = darkbg-text


// ---- BACKGROUNDS ---- //
// Tooltips
snackbar-background = #323232

// Alerts
alert-success = success
alert-info = info
alert-warning = warning
alert-danger = danger

// Cards
card-body-text = lightbg-text
card-body-background = #fff
card-image-headline = #fff

// Body
body-background-light = #fff
body-background-dark = #333333


// ---- SHADOWS ---- //
z0 = none
z1 = 1px 1px 4px #ccc, -1px 0px 4px #ddd, 0px -1px 2px #ddd
z2 = 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
z3 = 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
z4 = 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
z5 = 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
z6 = 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
z7 = 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)


// ---- ANIMATIONS ---- //
// Progress
progress-success = success
progress-info = info
progress-warning = warning
progress-danger = danger

// Ripple
ripple-dark-1 = rgba(0, 0, 0, 0.1)
ripple-dark-2 = rgba(0, 0, 0, 0.2)
ripple-light = rgba(255, 255, 255, 0.4)