html
  size 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  top 0
  bottom 0
  left 0
  right 0
  position absolute
  padding 0
  margin 0
  background-color #f8f8f8
  font-family 'Roboto', sans-serif
  font-size 14px
  line-height 1.4em
  color #151515
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

h1
h2
h3
h4
p
blockquote
figure
ol
ul 
  margin 0
  padding 0
  user-select text

li 
  display block

// h1
// h2
// h3
// h4 
//   font-size inherit

strong 
  font-weight bold

a
button 
  color inherit
  transition .3s

a 
  text-decoration none

button 
  overflow visible
  border 0
  font inherit
  -webkit-font-smoothing inherit
  letter-spacing inherit
  background none
  cursor pointer

focus 
  outline 0

-moz-focus-inner 
  padding 0
  border 0

img 
  max-width 100%
  height auto
  border 0

input
  font-family inherit
  font-weight 400
  color #aaa