html
  size 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  top 0
  bottom 0
  left 0
  right 0
  position absolute
  padding 0
  margin 0
  background-color #f8f8f8
  font-family 'Roboto', sans-serif
  font-size 14px
  line-height 1.4em
  color #151515
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

h1
h2
h3
h4
  font-weight 500

h1
h2
h3
h4
p
blockquote
figure
  margin 0
  padding 0
  user-select text

// h1
// h2
// h3
// h4 
//   font-size inherit

strong 
  font-weight bold

a 
  color inherit
  outline none
  transition .15s ease-in-out
  text-decoration none

focus 
  outline 0

-moz-focus-inner 
  padding 0
  border 0

img 
  max-width 100%
  height auto
  border 0