@import 'themes/default/colors.import.styl'

// ---- BORDERS ---- //
hr.divider
  width 100%
  margin 5px 0px

  // ---- BORDER STYLES ---- //
  &.dashed
    border-top 1px dashed

  // ---- BORDER COLORS ---- //
  &.ghost
    border-color transparent
    
  &.lighter-gray
    border-color lighter-gray
  
  &.light-gray
    border-color light-gray
  
  &.gray
    border-color gray