@import 'themes/default/colors.import.styl'

h3.preview-title
  color darker-text
  margin 15px 0 5px

span.preview-label
  display flex
  align-items center
  margin-bottom 8px

  &.stacked
    display block

    p
      width 100%
      margin-bottom 5px
  
p.preview-label-title
  width 45px
  margin-right 8px
  font-weight 500