@import 'themes/default/colors.import.styl'

// ---- AVATARS ---- //
img.avatar
  height 30px
  width 30px
  border-radius 3px

  &.bordered
    border 1px solid gray

  &.round
    border-radius 100%

  &.large
    height 40px
    width 40px
