@import 'themes/default/colors.import.styl'

// ---- AVATARS ---- //
img.avatar
  height 32px
  width 32px
  border-radius 3px

  &.bordered
    border 1px solid gray

  &.round
    border-radius 100%

  &.small
    height 24px
    width 24px
  
  &.large
    height 40px
    width 40px
